/Proyectos/project1/nbproject/private/
/Proyectos/project1/build/
/Proyectos/Hola_mundo/nbproject/private/
/Proyectos/Hola_mundo/build/
/Proyectos/1_sum_dos_num/nbproject/private/
/Proyectos/1_sum_dos_num/build/
/Proyectos/Clase 2/1_sum_dos_num/build/
/Proyectos/2_nombre/nbproject/private/
/Proyectos/2_nombre/build/
/Proyectos/3_/nbproject/private/
/Proyectos/Clase 2/3_/build/
/Proyectos/4_centigrados_fahrenheit/nbproject/private/
/Proyectos/4_centigrados_fahrenheit/build/
/Proyectos/5_numeros/nbproject/private/
/Proyectos/5_numeros/build/
/Proyectos/Clase 2/3_mayus_minus/nbproject/private/
/Proyectos/extra_pi/nbproject/private/
/Proyectos/extra_pi/build/
/Proyectos/Clase 3/extras/nbproject/private/