/Proyectos/project1/nbproject/private/
/Proyectos/project1/build/
/Proyectos/Hola_mundo/nbproject/private/
/Proyectos/Hola_mundo/build/
/Proyectos/1_sum_dos_num/nbproject/private/
/Proyectos/1_sum_dos_num/build/
/Proyectos/Clase 2/1_sum_dos_num/build/
/Proyectos/2_nombre/nbproject/private/
/Proyectos/2_nombre/build/
/Proyectos/3_/nbproject/private/
/Proyectos/Clase 2/3_/build/
/Proyectos/4_centigrados_fahrenheit/nbproject/private/
/Proyectos/4_centigrados_fahrenheit/build/
/Proyectos/5_numeros/nbproject/private/
/Proyectos/5_numeros/build/
/Proyectos/Clase 2/3_mayus_minus/nbproject/private/
/Proyectos/extra_pi/nbproject/private/
/Proyectos/extra_pi/build/
/Proyectos/Clase 3/extras/nbproject/private/
/Proyectos/Clase 4/1_guia/nbproject/private/
/Proyectos/Clase 4/1_guia/build/
/Proyectos/Clase 4/2_guia/nbproject/private/
/Proyectos/Clase 4/2_guia/build/
/Proyectos/Clase 4/3_guia/nbproject/private/
/Proyectos/Clase 4/3_guia/build/
/Proyectos/Clase 4/4_guia/nbproject/private/
/Proyectos/Clase 4/4_guia/build/
/Proyectos/Clase 4/5_guia/nbproject/private/
/Proyectos/Clase 4/5_guia/build/
/Proyectos/Clase 4/1_par_impar/nbproject/private/
/Proyectos/Clase 4/1_par_impar/build/
/Proyectos/Clase 5/2_frase_igual/nbproject/private/
/Proyectos/Clase 5/2_frase_igual/build/
/Proyectos/Clase 5/3_largo_frase/nbproject/private/
/Proyectos/Clase 5/3_largo_frase/build/
/Proyectos/Clase 5/4_letra_inicio/nbproject/private/
/Proyectos/Clase 5/4_letra_inicio/build/
/Proyectos/Clase 5/5_suma_limite/nbproject/private/
/Proyectos/Clase 5/5_suma_limite/build/
/Proyectos/Clase 5/6_menu/nbproject/private/
/Proyectos/Clase 5/6_menu/build/
/Proyectos/Clase 5/6_cadenas/nbproject/private/
/Proyectos/Clase 5/7_cuadrado_asteriscos/nbproject/private/
/Proyectos/Clase 5/7_cuadrado_asteriscos/build/
/Proyectos/Clase 5/6_cadenas/build/
/Proyectos/Clase 6/1_extra/nbproject/private/
/Proyectos/Clase 6/1_extra/build/
/Proyectos/Clase 6/2_extra/nbproject/private/
/Proyectos/Clase 6/2_extra/build/
/Proyectos/Clase 6/3_extra/nbproject/private/
/Proyectos/Clase 6/3_extra/build/
/Proyectos/Clase 6/4_extras/nbproject/private/
/Proyectos/Clase 6/4_extras/build/
/Proyectos/Clase 6/5_extra/nbproject/private/
/Proyectos/Clase 6/5_extra/build/
/Proyectos/Clase 6/6_extra/nbproject/private/
/Proyectos/Clase 6/6_extra/build/
/Proyectos/Clase 6/7_extras/nbproject/private/
/Proyectos/Clase 6/7_extras/build/
/Proyectos/Clase 6/8_extra/nbproject/private/
/Proyectos/Clase 6/8_extra/build/
/Proyectos/Clase 6/9_extras/nbproject/private/
/Proyectos/Clase 7/1_guia/nbproject/private/
/Proyectos/Clase 7/1_guia/build/
/Proyectos/Clase 7/2_guia/nbproject/private/
/Proyectos/Clase 7/2_guia/build/
/Proyectos/Clase 7/1_operciones_subprograma/nbproject/private/
/Proyectos/Clase 7/1_operciones_subprograma/build/
/Proyectos/Clase 7/2_nombre_edad/nbproject/private/
/Proyectos/Clase 7/2_nombre_edad/build/
/Proyectos/Clase 7/3_convertir_currency/nbproject/private/
/Proyectos/Clase 7/3_convertir_currency/build/
/Proyectos/Clase 7/4_primos/nbproject/private/
/Proyectos/Clase 7/4_primos/build/
/Proyectos/Clase 7/12_extras/nbproject/private/
/Proyectos/Clase 7/12_extras/build/
/Proyectos/Clase 8/14_guia/nbproject/private/
/Proyectos/Clase 8/13_guia/nbproject/private/
/Proyectos/Clase 8/13 y 14_guia/nbproject/private/
/Proyectos/Clase 8/13 y 14_guia/build/
/Proyectos/Clase 8/1_llenar_vector/nbproject/private/
/Proyectos/Clase 8/1_llenar_vector/build/
/Proyectos/Clase 8/2_buscar_vector/nbproject/private/
/Proyectos/Clase 8/2_buscar_vector/build/
/Proyectos/Clase 8/3_contar_digitos/nbproject/private/
/Proyectos/Clase 8/3_contar_digitos/build/
/Proyectos/Clase 8/4_matriz_transpuesta/nbproject/private/
/Proyectos/Clase 8/4_matriz_transpuesta/build/
/Proyectos/Clase 8/5_matriz-antisimétrica/nbproject/private/
/Proyectos/Clase 8/5_matriz_antisimétrica/nbproject/private/
/Proyectos/Clase 8/5_matriz_antisimétrica/build/
/Proyectos/Clase 8/6_matriz_magica/nbproject/private/
/Proyectos/Clase 8/6_matriz_magica/build/
/Proyectos/Nueva Carpeta/1_extras/nbproject/private/
/Proyectos/Nueva Carpeta/1_extras/build/
/Proyectos/Nueva Carpeta/2_extras/nbproject/private/
/Proyectos/Nueva Carpeta/2_extras/build/
/Proyectos/Nueva Carpeta/3_extras/nbproject/private/
/Proyectos/Nueva Carpeta/3_extras/build/
/Proyectos/Nueva Carpeta/4_extras/nbproject/private/
/Proyectos/Nueva Carpeta/4_extras/build/
/Proyectos/Nueva Carpeta/5_extras/nbproject/private/
/Proyectos/Nueva Carpeta/5_extras/build/
/Proyectos/Nueva Carpeta/6_extras/nbproject/private/
/Proyectos/Nueva Carpeta/6_extras/build/
/Proyectos/Nueva Carpeta/7_extras/nbproject/private/
/Proyectos/Nueva Carpeta/7_extras/build/
/Proyectos/Clase 13/1_libros/nbproject/private/
/Proyectos/Clase 13/2_circunferencia/nbproject/private/
/Proyectos/Clase 13/1_libros/build/
/Proyectos/Clase 13/2_circunferencia/build/
/Proyectos/Clase 13/3_calculadora/nbproject/private/
/Proyectos/Clase 13/3_calculadora/build/
/Proyectos/Clase 13/4_rectangulo/nbproject/private/
/Proyectos/Clase 13/4_rectangulo/build/
/Proyectos/Nueva Carpeta/1_extras_cancion/nbproject/private/
/Proyectos/Clase 14/1_extras_cancion/build/
/Proyectos/Clase 14/2_extras_dist_puntos/nbproject/private/
/Proyectos/Clase 14/2_extras_dist_puntos/build/
/Proyectos/Clase 14/3_extras_juego/nbproject/private/
/Proyectos/Clase 14/3_extras_juego/build/
/Proyectos/Clase 14/4_extras_cocina/nbproject/private/